<template>
  <div class="main-full-div">
    <div class="container">
      <!-- <div class="top-black"></div> -->
      <br />
      <div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <div>
                <h3>
                  <img src="@/assets/logo2.png" class="logo-class" />
                </h3>
              </div>
              <h2 class="heading">Reset Login Password</h2>
              <p class="sub-heading">You can reset your password here.</p>
              <br />
              <div class="panel-body">
                <form
                  id="register-form"
                  role="form"
                  autocomplete="off"
                  class="form"
                  @submit.prevent="handleSubmit"
                >
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"
                        ><i
                          id="fa-envelope"
                          class="fas fa-envelope fa-2x evvelope-class"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <div class="forgot-email">
                    <input
                      class="email-add"
                      type="email"
                      placeholder="Enter your email address"
                      v-model="email"
                    />
                  </div>
                  <br /><br /><br>
                  <div class="form-group" v-if="!loading">
                    <input
                      name="recover-submit"
                      class="btn-control"
                      value="Reset Password"
                      type="submit"
                    />
                  </div>
                  <div class="form-group" v-else>
                    <button class="btn-control-loader">
                      <img
                        src="@/assets/loading.gif"
                        style="vertical-align: sub; width: 17px"
                      />
                      Loading...
                    </button>
                  </div>

                  <input type="hidden" class="hide" name="token" id="token" value="" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
      loading: false,
      email: ''
    }
  },
  methods: {
    handleSubmit () {
      if (this.email === '') {
        this.$toasted.error('Please, enter your email.')
        return
      }
      this.loading = true
      this.$http
        .post(process.env.VUE_APP_SERVICE_URL + '/user/forgetPassword', {
          email: this.email
        })
        .then((response) => {
          this.loading = false
          console.log('correct', response)
          this.$toasted.success('Your email was sent successfully!. Please check your email.')
          // this.$router.push("/Resetpass")
        })
        .catch((error) => {
          this.loading = false
          console.log('error:', error)
          this.$toasted.error('error')
        })
    }
  }
}
</script>

<style scoped>
.main-full-div {
  height: 100vh;
}
.container {
  text-align: center;
  width: 30%;
  height: auto;
  margin: 4% auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
}
.top-black {
  border-radius: 4px;
  background: black;
  border: 1px solid black;
  height: 10px;
  width: 106.2%;
  margin-left: -14px;
}
.heading {
  margin-bottom: -4px;
  font-weight: normal;
  font-weight: 550;
  font-size: 30px;
  margin-top: 20px;
}
.sub-heading {
  font-weight: bold;
  margin-top: 8px;
  font-size: 14px;
}
.sign-up-sub {
  font-size: 16px;
  font-weight: bold;
  margin-top: -5px;
}

#fa-envelope {
  position: absolute;
  margin-top: -12px;
  margin-right: -19px;
}

.logo-class {
  max-height: 130px;
  width: 230px;
  margin-top: 0px;
  height: 200px;
}
.input-group-addon {
  position: relative;
  top: 9px;
  left: 40px;
}

.forgot-email {
  margin-left: 20px;
  margin-bottom: -15px;
}

.evvelope-class {
  position: relative;
  right: -90px;
}
.form-control {
  margin: 10px auto;
  max-width: 220px;
  height: 32px;
  border: none;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 15px;
  color: rgb(117, 117, 117);
  font-weight: bold;
  font-size: 14px;
  /* for moving of feild */
  transition-property: max-width;
  transition-duration: 0.4s;
}
.form-control:hover {
  border: 2px solid rgb(11, 2, 126);
  /* for moving of feild */
  max-width: 210px;
}
.form-control:focus {
  outline: none;
  border: 2px solid #4b127a;
}

.email-add {
  padding: 2px 40px;
  padding-left: 2px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid rgb(108, 27, 184);
  position: relative;
  top: -20px;
}

.email-add:focus {
  outline: none;
}

.btn-control {
  position: relative;
  left: 2px;
  padding: 6px 23px;
  border: none;
  background-color: rgb(40, 0, 93);
  color: white;
  border-radius: 5px;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 35px;
  cursor: pointer;
}

.btn-control-loader {
  position: relative;
  left: 2px;
  padding: 6px 23px;
  border: none;
  background-color: rgb(40, 0, 93);
  color: white;
  border-radius: 5px;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 35px;
  cursor: pointer;
}

.btn-control:hover {
  background-color: #eee;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(160, 160, 160);
}

@media screen and (max-width: 1812px) {
  .evvelope-class {
    position: relative;
    right: -80px;
  }
}
@media screen and (min-width: 1746px) {
  .evvelope-class {
    position: relative;
    right: -100px;
  }
}
@media screen and (max-width: 1745px) {
  .evvelope-class {
    position: relative;
    right: -70px;
  }
}
@media screen and (max-width: 1684px) {
  .evvelope-class {
    position: relative;
    right: -60px;
  }
}
@media screen and (max-width: 1615px) {
  .evvelope-class {
    right: -50px;
  }
}
@media screen and (max-width: 1615px) {
  .evvelope-class {
    right: -40px;
  }
}
@media screen and (max-width: 1482px) {
  .evvelope-class {
    right: -30px;
  }
}
@media screen and (max-width: 1415px) {
  .evvelope-class {
    right: -20px;
  }
}
@media screen and (max-width: 1350px) {
  .evvelope-class {
    right: -10px;
  }
}
@media screen and (max-width: 1274px) {
  .evvelope-class {
    right: 0px;
  }
}
@media screen and (max-width: 1214px) {
  .evvelope-class {
    right: 5px;
  }
}
@media screen and (max-width: 1178px) {
  .evvelope-class {
    right: 10px;
  }
}
@media screen and (max-width: 1146px) {
  .evvelope-class {
    right: 18px;
  }
}
@media screen and (max-width: 1085px) {
  .evvelope-class {
    right: 25px;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 60%;
  }
  .evvelope-class {
    right: -65px;
  }
}
@media screen and (max-width: 850px) {
  .evvelope-class {
    right: -60px;
  }
}
@media screen and (max-width: 802px) {
  .evvelope-class {
    right: -50px;
  }
}
@media screen and (max-width: 770px) {
  .evvelope-class {
    right: -40px;
  }
  .top-black {
    margin-left: -12px;
  }
}
@media screen and (max-width: 740px) {
  .evvelope-class {
    right: -30px;
  }
}
@media screen and (max-width: 700px) {
  .evvelope-class {
    right: -20px;
  }
}
@media screen and (max-width: 670px) {
  .evvelope-class {
    right: -10px;
  }
}
@media screen and (max-width: 635px) {
  .evvelope-class {
    right: 0px;
  }
  .top-black {
    margin-left: -10px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 85%;
  }
  .evvelope-class {
    right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin: 0% auto;
  }
  .evvelope-class {
    right: 20px;
  }
}
@media screen and (max-width: 380px) {
  .evvelope-class {
    right: 28px;
  }
}
@media screen and (max-width: 380px) {
  .evvelope-class {
    right: 30px;
  }
  .heading {
    font-size: 32px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    width: 90%;
    margin: 0% auto;
  }
  .evvelope-class {
    right: 25px;
  }
  .main-full-div {
    height: 100vh;
  }
}
</style>
